.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border: solid 1px #cbced2;
  border-radius: 8px;
  list-style: none;
  padding: 30px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border: solid 1px #cbced2;
  border-radius: 8px;
  list-style: none;
  padding: 30px;
  margin: 10px 0px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border: solid 1px #cbced2;
  list-style: none;
  border-radius: 8px;
  padding: 30px;
}

/* Write your code here. */
.card-heading {
  color: #326a9d;
}
.card-description {
  color: #64748b;
  font-size: 18px;
}
.card-button {
  color: #326a9d;
  background-color: #ffffff;
  height: 30px;
  font-weight: 500;
  border: 2px solid #326a9d;
  border-radius: 5px;
}
